/* laptop */
@media (min-width: 1024px) {
    .menu-mobile {
        display: none;
    }
}

/* tablet */
@media (max-width: 1023px) and (min-width: 740px){
    .header .header-left h1 {
        font-size: 6rem;
    }
    .header .header-left .header-search {
        max-width: 60rem;
    }
    .header .header-content .header-media {
        max-width: 37rem;
        height: 50rem;
        transform: translateY(26%)
    }
    .destination .destination-list {
        max-width: 60rem;
    }
    .destination .destination-item .destination-img {
        width: 28rem;
        height: 28rem;
    }
    .destination-info {
        width: 37rem;
    }
    .offer {
        margin-bottom: 10rem;
    }
    .blog .blog-container .blog-info {
        width: 50rem;
    }
    .blog .blog-list {
        width: 46rem;
    }
    .blog .blog-list .blog-item .blog-heading {
        width: 27rem;
    }
    .menu-mobile {
        display: none;
    }

}

/* mobile - tablet */
@media (max-width: 1023px){
    .offer-list {
        flex-direction: column;
    }
    .offer-list .offer-item {
        flex-direction: column;
        width: 100%;
        padding: 0 15px;
        margin-bottom: 10rem;
    }
    
    .footer-container {
        flex-direction: column;
    }
    .footer-heading {
        margin-bottom: 6rem;
    }
    .footer-right {
        flex-direction: column;
    }
    .footer .footer-top a {
        padding: 4rem 4rem;
    }
    .footer .footer-top h2 {
        max-width: 70rem;
    }
    .offer-list h3 {
        max-width: 100%;
    }
    .footer-heading {
        max-width: 100%;
    }
    .offer-tour,.offer-price,.offer-address,.offer-rating{
        font-size: 3rem;
    }
    .offer-info h3{
        font-size: 4rem;
    }
}

/* mobile  */
@media (max-width: 739px){
    html{
        font-size: 28%;
    }
    body {
        padding: 10px;
    }
    .logo img{
        width: 20rem;
    }
    .header .container .menu {
        display: none;
    }
    .header .header-top {
        margin-bottom: 3rem;
    }
    .header .header-content {
        flex-direction: column;
    }
    .header .header-left h1 {
        font-size: 5rem;
        margin-bottom: 6rem;
        max-width: 45rem;
    }
    .header .search-bottom .hastage {
        width: 80%;
    }
    .header .search-bottom a {
        padding: 17px;
        font-size: 2.5rem;
        height: 10rem;
    }
    .header .header-content .header-media {
        max-width: 100%;
        height: 34rem;
        transform: translateY(0);
        margin-top: 5rem;
    }
    .destination .destination-layout {
        flex-direction: column-reverse;
    }
    .destination .destination-item .destination-img {
        width: 100%;
        height: 30rem;
    }
    .destination .destination-item {
        width: 45%;
    }
    .destination-info {
        width: 100%;
    }
    .destination-info h2 {
        max-width: 100%;
        font-size: 4.5rem;
        text-align: center;
    }
    .destination-info p {
        margin: 16px 0;
        max-width: 100%;
        text-align: center;
    }
    .destination-info a{
        width: 100%;
        text-align: center;
        font-size: 4rem;
        margin-bottom: 7rem;
    }
    .offer {
        margin-top: 12rem;
        margin-bottom: 2rem;
    }
    .offer .offer-heading {
        flex-direction: column;
    }
    .offer .offer-heading h2 {
        max-width: 100%;
        font-size: 5.5rem;
        margin-bottom: 4rem;
    }
    .offer .offer-heading p {
        max-width: 100%;
        font-size: 2rem;
        text-align: center;
    }
    
    .offer-list {
        margin-top: 8.5rem;
        margin-bottom: 2rem;
    }
    .blog .blog-container{
        flex-direction: column;
    }
    .blog h2 {
        font-size: 4.5rem;
        margin-bottom: 8.5rem;
    }
    .blog .blog-container .blog-info {
        margin-bottom: 8rem;
        max-width: 100%;

    }
    .blog .blog-list {
        width: 100%;
    }
    .blog .blog-list .blog-item .blog-heading {
        width: 40rem;
    }
    .blog .blog-list .blog-item .blog-heading a {
        font-size: 3.5rem;
    }
    .blog .blog-item .blog-img {
        height: 24rem;
        width: 24rem;
    }
    .blog .blog-list .blog-item{
        align-items: center;
    }
    .book-tour .book-tour__container {
        padding: 15px;
    }
    .book-tour {
        margin: 8rem 0;
        padding: 7rem 0
    }
    .book-tour .book-tour__container h2 {
        font-size: 4rem;
        width: 83%;
        margin: 0 auto;
        margin-bottom: 22px;
    }
    .book-tour .book-form{
        flex-direction: column;
    }
    .book-tour .book-form .book-search {
        width: 100%;
    }
    .book-calendar {
        margin: 10px 0;
        width: 100%;
    }
    .book-icon-search i {
        width: 100%;
    }
    .book-icon-search{
        width: 100%;
    }
    .footer .footer-top {
        flex-direction: column;
        margin-bottom: 6rem;
    }
    .footer .footer-top h2 {
        font-size: 5rem;
        margin-bottom: 15px;
    }
    .footer .footer-top a {
        width:100%;
    }
    .menu-mobile {
        position: absolute;
        top: 1px;
        right: 30px;
    }
    .menu-mobile{
        font-size: 3.5rem;
    }
    
}