*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Poppins', sans-serif;
    font-size: 40%;
}

body{
    padding: 30px;
    color: #000;

}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

p{
    text-align: justify;
}
.container{
    width: 100%;
}

/* header */
.header{
    background-color: #daefff;
    border-radius: 20px;
    padding: 6rem 0 4em;
}

.header .header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 13rem;
}

.header .container{
    max-width: 157.5rem;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}

.header .container .menu{
    display: flex;
}

.header .container .menu .item-menu{
    justify-content: space-evenly;
    padding:0 25px;
    font-size: 15px;
}

.header .container .menu .item-menu a:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 3px;
    width: 0px;
    background-color: rgb(243, 118, 45);
    transition: all 300ms ease-in-out;
}

.header .container .menu .item-menu a:hover:after{
    transform: translate(100%);
    width: 50%;
}

.header .container .menu .item-menu a{
    color: #000;
    font-weight: bold;
    position: relative;

}

/* header-content */
.header {
    margin-bottom: 10rem;
}
.header .header-content{
    display: flex;
    justify-content: space-between;
}

/* header-left */

.header .header-left{
    width: 100%;
    max-width: 76rem;
}

.header .header-left h1{
    font-size: 9rem;
    font-weight: bold;
    margin-bottom: 10rem;
}

.header .header-left .header-search{
    border-radius: 20px;
    background-color: #fff;
    padding: 2.5rem;
}

.header .header-left input{
    width: 100%;
    padding: 4rem 3rem;
    border-radius: 20px;
    background-color: rgb(233, 233, 233);
    outline: none;
    font-size: 2.5rem;
    margin-bottom: 8rem;
    border: none;
}

.header .header-left input::placeholder{
    font-size: 2.5rem;
    opacity: 0.7;
}

.header .header-left .search-bottom{
    display: flex;
    justify-content: space-between;
}

.header .search-bottom .hastage{
    width: 90%;
    opacity: 0.7;
    line-height: 2;
}

.header .search-bottom .hastage span{
    font-size: 2rem;
    margin: 0 10px;
}


.header .search-bottom a{
    padding: 25px;
    background-color: #5171f1;
    border-radius: 10px;
    color: #fff;
    font-size: 3rem;
}

/* header-media */
.header .header-content .header-media{
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    max-width: 60rem;
    height: 77rem;
    transform: translateY(28%);
    right: 0;
    cursor: pointer;
    position: relative;
}

.header .header-content .header-media img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    position: absolute;
}

/* header-media  and blog-media */
.blog .blog-info .blog-media::after,
.header .header-content .header-media::after{
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.blog .blog-info .blog-media .play,
.header .header-content .header-media .play{
    padding: 24px ;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
}

.header .header-content .header-media .play i,
.blog .blog-info .blog-media .play i{
    color: #fff;
    font-size: 4rem;
}
 

/* destination */
.destination .container{
    max-width: 157.5rem;
    margin: 0 auto;
    padding: 0 15px;
}
.destination .destination-layout{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.destination .destination-list{
    display: flex;
    flex-wrap: wrap;
    max-width: 76rem;
    justify-content: space-between;
}
.destination .destination-item{
    display: flex;
    flex-direction: column;
}
.destination .destination-item .destination-img{
    width: 35rem;
    height: 35rem;
    overflow: hidden;
    border-radius: 20px;
}
.destination .destination-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.destination .destination-item strong{
    font-size: 2.5rem;
    font-weight: 600;
    margin: 20px 0;
    display: block;
}
.destination .destination-item small{
    font-size: 2rem;
    margin-bottom: 5rem;
}

/* /destination info */
.destination-info{
    width: 60rem;
    line-height: 1.6;
}

.destination-info h2{
    max-width: 40rem;
    font-size: 6rem;
}

.destination-info p{
    max-width: 55rem;
    font-size: 2rem;
    opacity: 0.8;
    margin: 40px 0;
}

.destination-info a{
    padding: 20px;
    background: #7276fb;
    color: #fff;
    font-size: 2.5rem;
    border-radius: 20px;
    margin-top: 10px;
    display: block;
    width: 28rem;
    transition: all 300ms ease-in-out;
}

.destination-info a:hover{
    transform: translateY(-10px);
}

/* special offer */
.offer{
    margin-top: 20rem;
    margin-bottom: 24rem;
}

.offer .offer-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 157.5rem;
    padding: 0 15px;
    margin: 0 auto;
}

.offer .offer-heading p{
    max-width: 60rem;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.6;
}

.offer .offer-heading h2{
    max-width: 76rem;
    font-size: 6rem;
    font-weight: bold;
}

.offer-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 11.5rem;
}

.offer-list .offer-item{
    display: flex;
    flex-direction: column;
}

.offer-list .offer-item .offer-img{
    height: 56rem;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 6rem;
}

.offer-list .offer-img img {
    width: 100%;
    height:100%;
    object-fit: cover;
}

.offer-list .offer-info .offer-top{
    display: flex;
    justify-content: space-between;
    font-size: 2.2rem;
}

.offer-list .offer-top .offer-tour{
    color: #fea31b;
    font-weight: bold;
}

.offer-list .offer-top .offer-price{
    color: #5171f1;
    font-weight: bold;
}

.offer-list h3{
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.6;
    max-width: 28rem;
    margin:5.5rem 0 ;
}

.offer-list .offer-bottom{
    display: flex;
    justify-content: space-between;
    font-size: 2.2rem;
    color: #333;
}

.offer-list .offer-bottom .offer-rating{
    color: #fea31b;
}

/* The blog */
.blog h2{
    text-align: center;
    font-size: 6rem;
    margin-bottom: 13.5rem;
    text-transform: uppercase;
    font-weight: bold;
}

.blog .blog-container{
    display: flex;
    justify-content: space-between;
    max-width: 157.5rem;
    padding: 0 15px;
    margin: 0 auto;
}

.blog .blog-container .blog-info{
    display: flex;
    flex-direction: column;
    width: 76rem;
}

.blog .blog-info .blog-media{
    height: 45rem;
    margin-bottom: 6rem;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}

.blog .blog-info .blog-media img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog .blog-info h3{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 3.5rem;
}

.blog .blog-info p{
    margin-bottom: 3rem;
    font-size: 2rem;
}

.blog .blog-info p a{
    color: #fea31b;
    text-decoration:underline;
}

.blog .blog-info span{
    font-size: 2rem;
}

.blog .blog-info span a{
    font-weight: bold;
    color: #333;
}

/*  blog-list  */
.blog .blog-list{
    width: 60rem;

}

.blog .blog-list .blog-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.blog .blog-list .blog-item .blog-heading{
    display: flex;
    flex-direction: column;
    width: 40rem;
}

.blog .blog-list .blog-item .blog-heading a{
    font-size: 2.5rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 15px;

}

.blog .blog-list .blog-item .blog-heading i{
    font-size: 2rem;
}

.blog .blog-item .blog-img{
    height: 14rem;
    width: 14rem;
    overflow: hidden;
    border-radius: 20px;
}

.blog .blog-item .blog-img img{
    height:100%;
    width:100%;
    object-fit: cover;
}

/* book tour */
.book-tour{
    padding: 15rem 0;
    background-color: #daefff;
    border-radius: 20px;
    margin: 15rem 0;
}

.book-tour .book-tour__container{
    max-width: 96rem;
    margin: 0 auto;
}

.book-tour .book-tour__container h2{
    text-align: center;
    font-size: 6rem;
    font-weight: 600;
    margin-bottom: 6rem;
}

.book-tour .book-form{
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
}

.book-tour .book-form .book-search{
    width: 40%;
    position: relative;
}

.book-tour .book-form .book-search input{
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: #efefef;
    height: 8rem;
    outline: none;
    padding-left: 3rem;
    font-size: 2.5rem;

}

.book-tour .book-form .book-search i{
    position: absolute;
    top: 30%;
    right: 3rem;
    font-size: 2.5rem;
    color: #0053ea;
}

.book-tour .book-form .book-search input::placeholder{
    font-size: 2.5rem;
}

.book-calendar{
    width: 40%;
    height: 8rem;
    background-color: #efefef;
    border-radius: 10px;
    position: relative;
}

.book-tour .dropdown-select{
    line-height: 8rem;
    padding-left: 3rem;
    font-size: 2.5rem;
}

.book-tour .dropdown-select i{
    position: absolute;
    right: 3rem;
    top: 30%;
    color: #0053ea;
}

.book-tour .dropdown-list{
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 5px 12px 26px #ccc;
    display: none;
}

.book-tour .dropdown:hover .dropdown-list{
    display: block;
}

.book-tour .dropdown-item{
    width: 100%;
    padding: 17px 3rem;
    font-size: 2.5rem;
}

.book-tour .dropdown-item:hover{
    background-color: #daefff;
}

.book-icon-search{
    width: 10%;
    text-align: center;
    line-height: 8rem;
}

.book-icon-search i{
    padding: 18px;
    background-color: #3a65ff;
    border-radius: 10px;
    font-size: 2.5rem;
    color: #fff;
}

/* footer */
.footer{
    max-width: 157.5rem;
    padding: 0 15px;
    margin: 0 auto;
}

.footer .footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6rem;
}

.footer .footer-top h2{
    max-width: 75rem;
    font-size: 6rem;
    line-height: 1.6;
    font-weight: bold;
}

.footer .footer-top a{
    padding: 4rem 6rem;
    background: #3a65ff;
    border-radius: 20px;
    font-size: 3rem;
    color:#fff;
}

.footer-social,
.footer-container{
    display: flex;
    justify-content: space-between;
}

.footer-heading{
    max-width: 55rem;
}

.footer-heading p{
    font-size: 2rem;
    margin-bottom: 6rem;
}

.footer-social i{
    font-size: 6rem
}


.footer-right{
    display: flex;
    width: 76rem;
    justify-content: space-between;
}

.footer-about,
.footer-contact,
.footer-company{
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}

.footer-about a,
.footer-company a,
.footer-contact a{
    margin-bottom: 2.5rem;
    color:#000;
}

.footer-contact a:first-child,
.footer-company a:first-child,
.footer-about a:first-child{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 4rem;
}

















